* {
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  width: 100%;
  background-image: url(./assets/nbg.jpeg);
  background-size: cover;
  background-position: left;
}
header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}
header.sticky {
  padding: 5px 100px;
  background: #fff;
}
header.sticky .logo,
header.sticky ul li a {
  color: #000;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: white;
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.6s;
}
span {
  color: #f9004d;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  left: 20%;
  list-style-type: none;
  position: relative;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
header ul li a:hover {
  color: #000;
  transition: 0.4s;
  background: #f9004d;
  border-radius: 28px 0px;
  padding: 7px 15px;
}
header ul li.active {
  color: #000;
  background-color: #f9004d;
  border-radius: 28px 0px;
  padding: 7px 15px;
}
header i.open {
  color: #fff;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(./assets/nbg.jpeg);
  background-size: cover;
  overflow: hidden;
}
.btn {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
}
.btn:hover {
  transform: scale(1.2);
}

/* ____________header Content________ */
.content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateY(-50%);
}
h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 65px;
}
h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}
h4 {
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 20px;
}
.newslatter {
  width: 380px;
  max-width: 100%;
  position: relative;
}
.newslatter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #f9004d;
  outline: none;
  border-radius: 30px;
}
.newslatter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #f9004d;
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: 6px;
  right: 6px;
}

/* _________about__________ */
.about {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  background-color: #191919;
}
.heading h2 {
  text-align: center;
  color: white;
  font-size: 4em;
  margin: 30px;
}
.heading h5 {
  text-align: center;
  color: white;
  letter-spacing: 0.2em;
  font-size: 22px;
  margin-bottom: 25px;
}
.pic {
  display: flex;
}
.pic img {
  height: 400px;
  width: 300px;
  border-radius: 20px;
}
.main {
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding: 2%;
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
.about a {
  background-color: #f9004d;
  color: white;
  text-align: center;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  margin: 20px 0px;
  padding: 13px 0px;
  border-radius: 30px;
  text-transform: uppercase;
  transition: 0.4s;
}
.about a:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}

/* ____________Service___________ */
.service {
  background: #101010;
  width: 100%;
  padding: 100px 0px;
}
.title h2 {
  color: white;
  font-size: 75px;
  margin: 30px auto;
  text-align: center;
}
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.card {
  width: 335px;
  padding: 20px;
  background: #191919;
  border-radius: 20px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card i {
  font-size: 30px;
  display: block;
  text-align: center;
  margin: 20px 0px;
  color: #f9004d;
}
.card h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}
.pra p {
  position: relative;
  height: 215px;
  overflow: hidden;
  color: #fcfc;
  font-size: 16px;
  text-align: justify;
  line-height: 27px;
  margin-bottom: 25px;
}
.card .pra p::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(transparent, #191919);
}
.card .button {
  text-transform: uppercase;
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 1px transparent;
  font-weight: bold;
  padding: 10px 11px;
  border-radius: 4px;
  transition: 0.4s;
}
.card.active .pra p {
  height: auto;
}
.card.active .pra p::before {
  display: none;
}
.card .button::before {
  content: "Read More";
}
.card .button:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
.card.active .button::before {
  content: "Read Less";
}

/* ___________Skills_______ */
.skills {
  overflow: hidden;
  padding: 12px;
  width: 100%;
  background: #101010;
}
.skills h1 {
  margin-top: 60px;
  color: #fff;
  width: 100%;
  text-align: center;
  background: #101010;
}
.myskills {
  height: 251px;
  width: 335px;
}
.personal {
  border-radius: 6px;
  float: left;
  background: #191919;
  padding: 12px;
  margin: 0px 0px 0px 50px;
  height: auto;
  width: 80%;
}
.notpersonal {
  border-radius: 6px;
  float: right;
  background: #191919;
  padding: 12px;
  margin: 50px;
  height: auto;
  width: 80%;
}
.personal:hover,
.notpersonal:hover {
  width: calc(90% - 20px);
  height: calc(100% - 20px);
  background: linear-gradient(
    to bottom,
    rgba(199, 0, 57, 0.01) 0,
    rgba(199, 0, 57, 0.25) 25%,
    rgba(199, 0, 57, 0.75) 75%,
    rgba(199, 0, 57, 0.95) 100%
  );
  transition: 1s;
}
.notpersonal h2,
.personal h2 {
  padding: 12px;
  margin-top: 5px;
  color: #fff;
}
.notpersonal p,
.personal p {
  line-height: 22px;
  padding: 2px;
  margin-top: 4px;
  color: #fcfc;
}

/* __________contect_______ */

.contect-me {
  width: 100%;
  height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contect-me p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}
.contect-me .new-button {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
.contect-me .new-button:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}

/* ___________footer_____________ */
footer {
  position: relative;
  width: 100%;
  height: 400px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p:nth-child(1) {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}
footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
.social {
  display: flex;
}
.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.end {
  position: absolute;
  color: #f9004d;
  bottom: 35px;
  font-size: 14px;
}

/* ______________responsive 925______________ */

header i {
  display: none;
}

@media screen and (max-width: 925px) {
  .banner {
    background-image: url(./assets/tabbg.jpeg);
  }
  header {
    padding: 30px 100px;
  }
  header ul i.close,
  i.open {
    display: block;
    font-size: 25px;
  }
  header.sticky i.open {
    color: #000;
  }
  header ul {
    top: 0;
    align-content: space-between;
    flex-direction: column;
    right: -200px;
    position: fixed;
    background: #858585;
    justify-content: center;
    width: 200px;
    height: 70vh;
    border-bottom-left-radius: 111px;
    padding: 10px;
    transition: 1s;
  }
  header ul li {
    display: block;
    left: 4%;
    margin: 10px;
  }
  header ul i.close {
    padding: 1px;
    background-color: transparent;
    color: #000;
    font-size: 4.5em;
    position: absolute;
    top: 13px;
    right: 19px;
  }
  header.sticky ul li {
    color: #000;
  }
  header.sticky ul li .close {
    color: #000;
    background: #000;
  }
  i.open {
    background-color: transparent;
    padding: 12px;
  }
}

@media screen and (max-width: 786px) {
  .banner {
    background-image: url(./assets/tabbg.jpeg);
  }
  /* _______header menu________786_____ */

  header {
    padding: 30px 70px;
  }

  /* __________content menu_______786______ */
  .content {
    top: 60%;
    right: 20px;
  }
  .content h1 {
    font-size: 3em;
  }
  .content h3 {
    font-size: 1.4em;
  }
  .content h4 {
    font-size: 1.2em;
  }
  .content {
    right: 20px;
  }

  /* _______Res about menu____786____ */
  .about {
    width: 100%;
  }
  .heading h2 {
    text-align: center;
    font-size: 42px;
    margin-top: 6%;
  }
  .heading h5 {
    text-align: center;
    justify-content: center;
  }
  .pic {
    align-items: center;
    flex-direction: column;
  }
  .pic img {
    justify-content: center;
    width: 345px;
    height: 425px;
  }
  .main {
    height: auto;
    text-align: justify;
    padding: 4%;
    font-size: 24px;
  }
  .about a {
    width: 90%;
    margin: 4%;
    text-transform: uppercase;
  }
  /* ________ Res service menu  ______786___ */

  .title h2 {
    font-size: 40px;
    width: 90%;
    text-align: center;
  }
  .card {
    flex-basis: 100%;
    height: auto;
  }
  .pra p {
    font-size: 20px;
  }

  /* ___________contect me_________786______ */

  .contect-me p {
    font-size: 22px;
  }
}

@media screen and (max-width: 482px) {
  .banner {
    background-image: url(./assets/phonebg.jpeg);
  }
  header {
    padding: 30px 60px;
  }
  header.sticky {
    padding: 1px 60px;
  }
  /* __________content menu_______482______ */
  .content {
    background-color: rgba(2, 9, 9, 0.6);
    box-shadow: 0px 0px 4px #000, 0px 0px 15px #858585;
    padding: 5%;
    border-radius: 1.4em;
    left: 5%;
    top: 75%;
    text-align: center;
  }
  .content h1 {
    font-size: 2.5em;
  }
  .content h3 {
    font-size: 1.3em;
    margin-bottom: 20px;
  }
  .content h4 {
    font-size: 1em;
  }

  /* _______Res about menu______ */
  .about {
    width: 100%;
  }

  .heading h2 {
    text-align: center;
    font-size: 42px;
  }
  .heading h5 {
    text-align: center;
    justify-content: center;
    padding: 0px 0px 20px 0px;
  }
  .pic {
    flex-direction: column;
    align-items: center;
  }

  .pic img {
    height: 40%;
    width: 65%;
  }
  .main {
    padding: 3%;
    text-align: justify;
    font-size: 20px;
  }
  .about a {
    width: 96%;
    margin: 2%;
    text-transform: uppercase;
  }

  /* ________ Res service menu  _________ */

  .title h2 {
    font-size: 55px;
    width: 100%;
    text-align: center;
  }
  .card {
    flex-basis: 90%;
    height: auto;
  }
  .pra p {
    font-size: 20px;
  }

  /* ___________Contect Me menu________ */
  .contect-me {
    width: 100%;
    overflow: hidden;
    align-items: center;
  }
  .contect-me p {
    font-size: 22px;
    width: 98%;
    text-align: center;
  }

  /* __________Res Footer menu________ */

  footer p:nth-child(1) {
    font-size: 28px;
  }
  footer p:nth-child(2) {
    font-size: 15px;
    width: 100%;
  }
  .social {
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  .end {
    text-align: center;
  }
}
